@charset "utf-8";
* {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}

.hide {
  display: block;
  width: 0px;
  height: 0px;
  overflow: hidden;
  text-indent: -9999px;
}

  /* 스킵네비게이션 */
  
  #skipnavigation ul{
    margin:0;
  }  
  #skipnavigation a {
    left: -1000%;
    position: absolute;
	  text-decoration:none;
}
#skipnavigation a:active,#skipnavigation a:focus,#skipnavigation a.focus {
    display: block;   
	  position:absolute;
    left: 0;
    top: 0; 
    width: 100%;    
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;  
    background: #253d85;  
    z-index: 1000;        
}
