
/* 헤더 애니메이션 */

.header__heading,
.open__button {
  opacity: 0;
}
@keyframes headerAni {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes headingAni {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes buttonAni {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}
.header {
  position: fixed;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #eee;
  display: inline-block;
  animation-name: headerAni;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}
.header__heading {
  display: inline-block;
  animation-name: headingAni;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 850ms;
}
.open__button {
  display: inline-block;
  animation-name: buttonAni;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
  animation-delay: 950ms;
}

/* 메뉴 리스트 애니메이션 */
.item__list__wrap .item{
  opacity:0;
}
@keyframes menuAni {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .item__list__wrap .item{
    animation-name: menuAni;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;     
  }
  .item__list__wrap .item:nth-child(1) {
    animation-delay: 1.4s;
  }
  .item__list__wrap .item:nth-child(2) {
    animation-delay: 1.6s;
  }
  .item__list__wrap .item:nth-child(3) {
    animation-delay: 1.8s;
  }
  .item__list__wrap .item:nth-child(4) {
    animation-delay: 2s;
  }
  .item__list__wrap .item:nth-child(5) {
    animation-delay: 2.2s;
  }
  .item__list__wrap .item:nth-child(6) {
    animation-delay: 2.4s;
  }
  .item__list__wrap .item:nth-child(7) {
    animation-delay: 2.6s;
  }
  .item__list__wrap .item:nth-child(8) {
    animation-delay: 2.8s;
  }